body {
  background-color: #FACBCB;
  background-image: url(../images/Arts.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  font-family: sans-serif;

}

main {
  background-color: #FACBCB;
}

h1 {
  font-family: sans-serif;
  font-weight: normal;
  font-size: 36px;
  font-style: italic;
  color: #F99A1F;
}

h3 {
  font-family: sans-serif;
  font-weight: normal;
  font-size: 18px;
  font-style: italic;
  color: #F99A1F;
}

.customtext {
  font-family: sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 20px;
  color: #F99A1F;
  background-color: #FACBCB;
}

.fontcombined {
  font: italic 26px sans-serif;
}

.borderline {
  border: 10px solid #000000;
  padding: 5px;
  background-color: #ffffff;
  margin: 20px 20px 0 0;
  width: 200px;
}

.boxmodel {
  border: 1px dashed #F3244A;
  padding: 20px 20px 20px 20px;
  margin: 10px 10px 10px 10px;
}

 .otherbox {
   padding: 10px;
   margin: 20px;
   border: 1px solid #F3244A
 }

.zeroout {
  margin: 0;
  padding: 0;
}

.pwidth {
  border: 1px dashed #F3244A;
  width: 150px;
  padding: 10px;
}

.textright {
text-align: right;
}

.textleft {
text-align: left;
}

.textcenter {
text-align: center;
}

.textjustify {
text-align: justify;
}

.textspace {
letter-spacing: 20px;
}

.textheight {
line-height: 50px;
}
